html,body{
    margin: 0px;
}
    .home_container{
        height: 100vh;
        width: 100vw;
        background-color: whitesmoke;
        display: block;
        transition: 0.5s;
    }
    nav{
        width: 100%;
        height: fit-content;
    }
    .logo{
        width: 45px;
        height: fit-content;
        padding: 15px;
        border-radius: 0cap;
        user-select: none;
    }
    h2{
        float: right;
        font-family: 'Roboto Mono', monospace;
        padding: 10px;
        font-size: 18px;
    }
    .option{
        width: 90vw;
        margin: 0px 5%;
        height: 30px;
        position: relative;
        margin-bottom: 10px;
    }
    .home,.leaderboard{
        background-color: transparent;
        color: black;
        outline: none;
        border: none;
        font-family: 'Roboto Mono', monospace;
        font-size:20px;
        font-weight: 500;
        transition: 0.5s;
       
    }
    .leaderboard{
        float: right;
        color: gray;
    }
    .selection_line{
        width: 62px;
        height: 4px;
        background-color: black;
        position: absolute;
        border-radius: 100px;
        bottom: 0%;
        left: 0px;
        transition: 0.5s;
    }
    .home_page,.leaderboard_page{
        width: 100vw;
        background-color: rgb(212, 210, 210);
        border-radius:20px 20px 0px 0px ;
        box-sizing: border-box;
        padding: 20px;
        display: block;
        opacity: 1;
        transition: 0.5s;
        height: calc(100vh - 120px);
    }
    .leaderboard_page{
        display: none;
        opacity: 0;
        transition: 0.5s;
    }
    h3{
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        border: 2px dashed black;
        box-sizing: border-box;
        padding: 5px;
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        margin: 0px;
        font-size: 18px;
    }
.contain{
    width: auto;
    height:calc(100% - 100px);
    border: 2px dashed black;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.level_point{
    width: 100%;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: rgb(71, 71, 71);
    font-size: 15px;
    height: 20px;
    padding-bottom: 10px;
}
b{
    color: black;
}
.level{
    float: left;
}
.points{
    float: right;
}
.tries{
    font-family: 'Roboto Mono', monospace;
    color: rgb(71, 71, 71);
    font-size: 12px;
}
.puzzle{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}
.image_container{
    width:100%;
    overflow: scroll;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
}
.answer{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    font-size:15px;
    font-family: 'Roboto Mono', monospace;
    border: 3px solid rgb(63, 63, 63);
    outline: none;
    border-radius: 5px;
    margin: 15px 0px;
}
.answer:focus{
    border-color: black;
}
.answer::placeholder{
    font-size: 15px;
}
.submit{
    width: 100%;
    height: 40px;
    background-color: black;
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}
table{
    width: 100%;
    border-spacing: 0px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align: center;
}
th{
    border: 2px dashed black;
    border-right: 0cap solid rgba(0, 0, 0, 0);
}
th:last-child{
    border-right: 2px dashed rgb(0, 0, 0);
    width: 10%;
}
td{
    border-left: 2px dashed black;
}
td:last-child{
    border-right: 2px dashed black;
}
tr:last-child > td{
    border-bottom: 2px dashed black;
}
.profile{
    width: 80%;
    border-radius: 100px;
    margin: auto;
    padding: 10px;
}
.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 99;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
}
.congartulation,.error{
    width: 75%;
    height: fit-content;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: calc(50vh - 180px);
    border-radius: 5px;
    box-shadow: 10px 10px 50px rgb(53, 52, 52);
    padding: 20px;
}
.right{
    color: black;
    background-color: rgb(192, 190, 190);
    width: 100px;
    height: 100px;
    border-radius: 200px;
    display:block;
    font-size: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
}
h4{
    font-family: 'Roboto Mono', monospace;
    font-size:25px;
    margin-top: 20px;
    font-weight: 500;
}
p{
    font-family: 'Roboto Mono', monospace;
    font-size:16px;
    color: rgb(61, 61, 61);
    word-spacing: 0px;
    letter-spacing: 0;
    font-weight: 500;
}
.next_level{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: whitesmoke;
    background-color: black;
    border-radius: 5px;
    border: none;
    outline: none;
}