html,body{
    margin: 0px;
}
.thank_you{
    width: 100%;
    height: fit-content;
    text-align: center;
    color: white;
}
i{
    font-size: 75px;
    padding: 20px;
    border-radius: 250px;
    height: 75px;
    width: 75px;
    background-color: rgb(255, 255, 255);
    animation: heart 2s infinite;
    margin-top: 10px;
    color: red;
}
@keyframes heart {
    0%{
        transform: scale(1.07);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.07);
    }
}
h1{
    font-family: 'Roboto Mono', monospace;
        text-align: center;
        font-size: 25px;
        color: whitesmoke;
}
td{
    border-color: white;
}
th{
    border-color: white;
}
td:last-child{
    border-color: white;
}
th:last-child{
    border-color: white;
}
tr:last-child > td{
        border-color: white;
}