html,body{
    margin: 0px;
}
    /**Rules and regulation page start here**/
    .rules_container{
        height: 100vh;
        width: 100vw;
        background-color: whitesmoke;
        display: block;
        transition: 0.5s;
    }
    nav{
        width: 100%;
        height: fit-content;
    }
    .logo{
        width: 45px;
        height: fit-content;
        padding: 20px;
    }
    h2{
        float: right;
        font-family: 'Roboto Mono', monospace;
        padding: 10px;
        margin-right: 10px;
        font-size: 18px;
    }
    .rules{
        width: 86%;
        margin:7% auto;
        overflow: hidden;
        overflow-y: scroll;
        height: 65vh;
    }
    h3{
        font-family: 'Roboto Mono', monospace;
        padding: 20px 0px;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
        font-size: 35px;
    }
    p{
        text-align:left ;
        color: rgb(53, 53, 53);
        font-family: 'Roboto Mono', monospace;
        font-size: 15px;
    }
    .accept{
        width: 86%;
        margin:auto 7%;
        position: fixed;
        bottom: 0;
        background-color: whitesmoke;
    }
    span{
        font-size: 15px;
        font-family: 'Roboto Mono', monospace;
        text-wrap: nowrap;
    }
    #checkbox{
        width: 20px;
        height: 20px;
    }
    .continue{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Roboto Mono', monospace;
        border: none;
        outline: none;
        background-color: black;
        color: whitesmoke;
        border-radius: 10px;
        font-size: 20px;

    }
    .continue:disabled{
        background-color: rgb(82, 81, 81);
    }
    /**Rules and regulation page end here**/

    /**login page start here**/
    .login_container{
        width: 100vw;
        height: 100%;
        background-image: url("../images/BG\ Login.png");
        background-size: cover;
        background-repeat: no-repeat;
        visibility: hidden;
        position: absolute;
    }
    h4{
        color: whitesmoke;
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0px;
    }
    .login{
        width: 84%;
        margin: auto 8%;
        text-align: center;
        margin-top: 100px;
        height: 100%;
    }
    h5{
        font-size: 30px;
        font-family: 'Roboto Mono', monospace;
        margin-bottom: 20px;
        margin-top: 0px;
        color: rgb(75, 75,75);
    }
    #continue-with-google{
        visibility: hidden;
    }
    .name,.number,.next{
        width: 100%;
        height: 50px;
        margin: 20px 0px;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        background-color: transparent;
        font-size: 15px;
        font-family: 'Roboto Mono', monospace;
        transition: 0.5s;
    }
    .name:focus,.number:focus{
        border-bottom: 3px solid rgb(0, 0, 0);
        transition: 0.2s;
    }
    .next{
        background-color: black;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
    }
    .bar{
        font-size: 15px;
        font-family: 'Roboto Mono', monospace;
        word-spacing: -1px;
        margin-left: -12px;
    }
    .bar::after{
        content: "----";
        letter-spacing: -5px;
        font-size: medium;
    }
    .bar::before{
        content: "----";
        letter-spacing: -5px;
        font-size: medium;
    }
    .google{
        width: 100%;
        height: 60px;
        margin: 15px 0px;
        background-color: black;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        font-family: 'Roboto Mono', monospace;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
    }
    .icon{
        display: block;
        width: 60px;
        height: 100%;
        background-color: rgb(46, 46, 46);
        position: absolute;
        top: 0;
        left: 0;
        font-size: 35px;
        font-weight: 300;
        text-align: center;
        box-sizing: border-box;
        padding: 5px;
    }
    .not_registered{
        display: block;
        text-align: center;
        width: 100%;
        margin-top: calc(100vh - 650px);
        font-weight: bolder;
        color: rgb(94, 94, 94);
        font-size: medium;
    }
    
    a{
        color: black;
        text-decoration: none;
        font-weight: bolder;
    }