<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <title>Your Web Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f20e323662.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<nav><img src="../static/images/Tantra Black.png" class="logo"><h2>Mystery Digits</h2></nav>

<div class="overlay" id="overlay" style="display: none;">
<div class="congartulation" id="congrats" style="display: none;">
    <div class="right"><i class="fa-solid fa-check"></i></div>
    <h4>Congratulations</h4>
    <p>You have successfully completed level:<b id="level">{{lvl}}!</b></p>
    <p>Total points:250</p>
    <button class="next_level">Next Level</button>
</div>
<div class="error" id="error">
    <div class="right"><i class="fa-solid fa-xmark"></i></div>
    <h4>Error</h4>
    <p>Operation could not be <br> Completed</p>
    <button class="next_level">Try Again</button>
</div>
</div>

<div class="option">
    <button class="home" id="home" onclick="opt('0','80px','grey','black','homepage','leaderboardpage')">Home</button>
    <button class="leaderboard" id="leadbod" onclick="opt('calc(100% - 195px)','195px','black','grey','leaderboardpage','homepage')">Leaderboard</button>
    <span class="selection_line" id="line"></span>
</div>


<div class="home_page" id="homepage">
<h3>Mystery Digit Quest</h3>
<div class="contain">
    <div class="level_point">
        <span class="level"><i class="fa-solid fa-arrow-up-right-dots"></i> Level:<b id="level1">{{lvl}}</b></span>
    </div>
    <div class="tries"><i class="fa-regular fa-clock"></i>  No. of tries left:<b id="tries">{{tries}}</b></div>
    <img id="profileImage" class="puzzle" src="{{filename}}">
    <form id="gameForm">
    <input type="number" id="val" class="answer" placeholder="Enter the numbers found" name="levelInput" required>
    <button type="submit" class="submit">Submit</button>
</form>
</div>
</div>


<div class="leaderboard_page" id="leaderboardpage">
    <h3>Top 10 in ranking</h3>
    <table id="leaderboardTable">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Level</th>
                <th>Time</th>
                <th>Profile</th>
            </tr>
        </thead>
        <tbody id="leaderboardBody">
            <!-- Leaderboard rows will be added dynamically here -->
        </tbody>
    </table>
</div>

<script src="/static/script/dashboard.js"></script>

</body>
</html>
