<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0  maximum-scale=1.0, user-scalable=no">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<nav><img src="../static/images/Tantra White.png" class="logo"></nav>
			<h4>Welcome to</h4>
			<h2>Mystery<br> Digits</h2>
			<p>Uncover the Numbers Hidden<br>Within!</p>
			<div class="registration_info">
				<span class="fee">Registration Fee:  Free</span>
				<span class="price">First Price:  <strong>₹500</strong></span>
			</div>
			<p id="erro"style="color:rgb(255, 61, 61); text-transform: uppercase; width: calc(100% - 60px); margin: 20px;border-radius:5px;">
				{{err}}</p>
			<button class="register" onclick="window.location.href='/login'">Register Now</button>
			<button class="view_leader" onclick="viewleader()">View Leaderboard</button>
			<div class="socials">
				<button class="contact">Contact Us</button>
				<span style="padding: 10px; text-align: center;">
					<a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</span>
			</div>
		</div>
		<div class="overlay" id="over">
			<button class="close" id="close" onclick="clo()">Close</button>
			<div class="leaderboard_page" id="leaderboardpage">
				<h3>Top 10 in ranking</h3>
				<table id="leaderboardTable">
					<thead>
						<tr>
							<th>Rank</th>
							<th>Name</th>
							<th>Level</th>
							<th>Avg. Time</th>
							<th>Profile</th>
						</tr>
					</thead>
					<tbody id="leaderboardBody">
						<!-- Leaderboard rows will be added dynamically here -->
					</tbody>
				</table>
			</div>
		</div>
		
	<script src="/static/script/dashboard.js"></script>
	<script src="/static/script/index.js"></script>
	<script src="https://kit.fontawesome.com/f20e323662.js" crossorigin="anonymous"></script>
</body>
</html>