<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0  maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <title>User Information</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="login_container" id="login">
        <nav><img src="../static/images/Tantra White.png" class="logo">
        <h4>Mystery<br>Digits</h4></nav>
        <div class="login">
            <h5>Login</h5>
            <div id="user-info-form">
         <form><input type="text" class="name" placeholder="Name" id="name" name="name" required/>
            <input type="number" class="number" placeholder="Registered Phone Number" id="phone" name="phone" required/>
            <input type="button" class="next" value="Next" onclick="onNextButtonClick()"/>
            <span class="not_registered">Not Registered ? <a href=""><b>Register</b></a></span>
            </form></div>
            <div id="continue-with-google">
                <p>Sign-In with google to continue</p>
                <button class="google" onclick="window.location='/login_google'" id="google-btn"><span class="icon"><i class="fa-brands fa-google"></i></span>Google</button>
            </div>
        </div>
    </div>

    <div class="rules_container" id="rules">
        <nav><img src="../static/images/Tantra Black.png" class="logo">
        <h2>Mystery Digits</h2>
        </nav>
        <div class="rules">
            <h3>Rules &<br>Regulations</h3>
            <p>Please take a moment to review and accept
                our terms and conditions before using our service.<br>
                <b>1. Acceptance of Terms:</b> By accessing and using the Mystry Digits App, you agree to
                    the terms and conditions.
            </p>
        </div>
        <div class="accept">
            <span><input type="checkbox" id="checkbox" onchange="document.getElementById('continue').disabled = !this.checked;"/> I agree with <b>Rules and Regulations</b></span>
            <input type="submit" disabled="true" class="continue" id="continue" value="Continue" onclick="login()"/>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/f20e323662.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='script/login.js')}}"></script>

</body>
</html>
